body {

}

.menu-items {
	border-style: outset;
	text-align: center;
}

nav {
	padding: 0;
	margin: 0;
}

.logo {
	float:left;
	width: 10%;
	height: 5%;
}

.navbar {
	float:right;
}

li {
	margin:10px;
}

main {
	background-image: url("../wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

main::after {
	content: " ";
	display: block;
	clear: both;
}

.about-us::after {
	content: " ";
	display: block;
	clear: both;
}

header::after {
	content: " ";
	display: block;
	clear: both;
}

.main-text {
	font-family: "BPG Irubaqidze", sans-serif;
	font-size: 25px;
	color: green;
}

.header-question {
	font-family: "BPG Irubaqidze", sans-serif;
	font-size: 36px;
	color: black;
}

main::after {
	content: " ";
	display: block;
	clear: both;
}

.course-img {
	width: 24%;
	height: 5%;
}

@media (max-width: 600px) {
	.course-img {
		width: 48%;
		height: 10%;
	}

main .smiley {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.login::after {
	content: " ";
	display: block;
	clear: both;
}

.text {
	z-index: 1;
}